torch
torchvision
git+https://github.com/openai/CLIP.git
ftfy
regex
tqdm
open-flamingo
transformers
seaborn
pandas
argparse
scipy
natsort
opencv-python-headless
scikit-learn
pillow
python-csv
translate
clip
Pillow
numpy
matplotlib
